.contact{
  .contact__contain{
    .input__infomation{
      .input__field--contain{
        .input__field-item{
          display: grid;
          label{
            font-family: Markazi;
            font-size:24px;
            font-weight: 700;
          }
          textarea{
            height:240px;
            border:1px solid #dedede;
          }
          input.contact__input-field{
            outline: none;
            border: 1px solid transparent;
            background-color:#eee;
            padding: 6px;
            border-radius: 5px;
          }
          .notice__result-value {
            color: var(--primary-color);
            font-weight: 700;
            opacity:0;
          }
        }
      }
    }
  }
}
