.menu-footer-menu-container{
  .menu{
    .menu-item{
      a{
        color:#000;
        font-weight: bold;
      }
      a:hover{
        color:var(--primary-color);
        transition: all .25s linear;
      }
    }
  }
}
.footer{
  height:50px;
}
.footer__sub-container{
  padding: 50px 0;
  border-top: 2px solid #dedede;
  .copyright--content{
    .copyright{
      font-weight: bold;
      color:#000;
    }
  }
}
