.sidebar{
  .title--section{
    color:var(--primary-bg-color);
    font-weight: bold;
  }
  ul{
    li{
      a{
        font-family: Markazi;
        font-size: 18px;
      }
    }
  }
}
form.search-form {
    position: relative;
      input.search-field {
        width: 100%;
        outline:none;
        border-radius: 5px;
        padding: 5px;
        border: 1px solid transparent;
      }
      input.search-field::placeholder{
        background-color:#eee;
        padding: 6px;
        border-radius: 5px;
      }
      button.search-submit {
        background: var(--primary-color);
        color: #fff;
        border: none;
        position: absolute;
        right: 0;
        top: 0;
        padding: 6px;
        border-radius: 5px;
      }
}
